/******************** GENERAL ********************/

body {
	margin: 0;
	color: #5c5c5c;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px;
	font-size: 16px;
	line-height: 1.5;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	clear: both;
}

.header {
	max-height: 60px;
	padding-bottom: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a.button {
	background-color: #9023BC;
	border-radius: 5px;
	color: #FFFFFF;
	transition: all 600ms ease;
	position: relative;
}

a.button span {
	z-index: 9;
	position: relative;
	color: #FFF;
}

a.button:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: -ms-linear-gradient(right, rgba(62,35,255,1) 0%, rgba(255,35,98,1) 100%);
	background-image: -moz-linear-gradient(right, rgba(62,35,255,1) 0%, rgba(255,35,98,1) 100%);
	background-image: -o-linear-gradient(right, rgba(62,35,255,1) 0%, rgba(255,35,98,1) 100%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(62,35,255,1)), color-stop(100, rgba(255,35,98,1)));
	background-image: -webkit-linear-gradient(right, rgba(62,35,255,1) 0%, rgba(255,35,98,1) 100%);
	background-image: linear-gradient(to left, rgba(62,35,255,1) 0%, rgba(255,35,98,1) 100%);
	opacity: 0;
	border-radius: 5px;
	transition: all 400ms ease;
	z-index: 0;
}

a.button:hover:after {
	opacity: 1;
}


.gradient {
	position: relative;
}


/******************** NAVIGATION ********************/

.navigation {
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
	width: 100%;
	z-index: 9;
}

.navigation .container {
	display: flex;
	justify-content: center;
	padding: 5px 20px;
	flex-wrap: wrap;
}

@media (min-width: 800px) {
	.navigation .container {
		flex-wrap: none;
		justify-content: space-between;
	}
}

.navigation__logo {
	text-decoration: none;
	color: #5c5c5c;
}

.navigation__logo,
.navigation__links {
	display: flex;
	align-items: center;
}

.navigation__image {
	width: 60px;
	padding-right: 8px;
}	


.navigation__links a:hover {
	color: #3e23ff;
}

.navigation__links a {
	text-decoration: none;
	padding: 6px 12px;
	color: #9023BC;
}

.navigation__links a.button {
	margin: 0 0 0 5px;
}



/******************** HERO ********************/

.hero-view {
	background: url('../images/bg.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 90vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}

@media (min-width: 800px) {
	.hero-view {
	  	min-height: 100vh;
	}
}

.hero-view__scroll {
	position: absolute;
	bottom: 20px;
	color: #FFF;
	height: 50px;
	width: 50px;
	background-color: #9023BC;
	border-radius: 100%;
	left: 50%;
    margin-left: -25px;
    font-size: 32px;
    text-align: center;
    transition: all 400ms ease;
    cursor: pointer;
    animation: bounce 600ms infinite alternate;
  	-webkit-animation: bounce 600ms infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

.hero-view__scroll:hover {
	background-color: #3e23ff;
}

.hero-view__wrapper {
	text-align: center;
}

.hero-view__text {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	flex-basis: 0;
}

.hero-view__subtext {
	font-size: 22px;
}

.hero-view__logo {
	width: 100%;
	transform: scale(2);
}

@media (min-width: 500px) {
	.hero-view__logo {
	  	transform: scale(1.5);
	}
}

@media (min-width: 800px) {
	.hero-view__logo {
	  	transform: scale(1);
	}
}



/******************** ABOUT ********************/


.about-view {
	padding: 80px 0 100px;
	text-align: center;
	color: #FFF;
}

.about-view__text {
	text-align: justify;
}

.about-view__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 40px;
}

.about-view__icon {
	width: 14%;
	position: relative;
	padding: 10px 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-view__icon img {
	max-width: 100%;
	opacity: 1;
	cursor: pointer;
	transition: all 400ms ease;
}

.about-view__icon:hover img {
	opacity: 0.5;
}

.about-view__icon p {
	position: absolute;
	color: #5c5c5c;
	margin: 0;
	background-color: rgba(255,255,255,1);
	padding: 10px;
	width: 100%;
}

.about-view__icon .heart {
	width: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 30px;
	border-radius: 300%;
	background-color: red;
}

.about-view__icon .learning {
	width: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
	border-radius: 100%;
	background-color: blue;
}

/******************** PROJECTS ********************/

.projects-view {
	padding: 60px 0;
	text-align: center;
}

.projects-view  .header {
	max-height: 80px;
}

.projects-view__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.projects-view__single {
	width: 100%;
	margin: 1% 0;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 500px) {
	.projects-view__single {
	  	width: 48%;
	  	margin: 1%;
	}
}

@media (min-width: 925px) {
	.projects-view__single {
	  	width: 30%;
    	margin: 1.66%;
	}
}

.projects-view__single .projects-view__overlay {
	opacity: 0.8;
}

.projects-view__single .projects-view__content {
	opacity: 1;
}



@media (min-width: 500px) {
	.projects-view__single .projects-view__overlay {
		opacity: 0;
	}

	.projects-view__single .projects-view__content {
		opacity: 0;
	}

	.projects-view__single:hover .projects-view__overlay {
		opacity: 0.8;
	}

	.projects-view__single:hover .projects-view__content {
		opacity: 1;
	}
}

.projects-view__image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	filter: grayscale(1);
	opacity: 1;
}

.projects-view__overlay {
	filter: grayscale(0);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(116,227,236, 1);
	background-image: -ms-linear-gradient(right, rgba(62,35,255,1) 0%, rgba(255,35,98,1) 100%);
	background-image: -moz-linear-gradient(right, rgba(62,35,255,1) 0%, rgba(255,35,98,1) 100%);
	background-image: -o-linear-gradient(right, rgba(62,35,255,1) 0%, rgba(255,35,98,1) 100%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(62,35,255,1)), color-stop(100, rgba(255,35,98,1)));
	background-image: -webkit-linear-gradient(right, rgba(62,35,255,1) 0%, rgba(255,35,98,1) 100%);
	background-image: linear-gradient(to left, rgba(62,35,255,1) 0%, rgba(255,35,98,1) 100%);
	z-index: 0;
	opacity: 0;
	transition: all 400ms ease;
}

.projects-view__content {
	z-index: 1;
	color: #FFFFFF;
	opacity: 0;
	transition: all 400ms ease;
	padding: 15px 0;
}

@media (min-width: 800px) {
	.projects-view__content {
	  	padding: 60px;
	}
}

#custom-modal {
	text-align: center;
	padding: 15px 20px 40px;
}

.project-image img {
	width: 100%;
}

.project-title h2 {
	color: #9023BC;
}

.project-text {
	text-align: justify;
	padding: 10px 0 40px;
}

.project-link a.button {
	padding: 10px 20px;
}


#custom-modal .close {
	padding: 12px 20px 15px;
    background-color: #9023BC;
    transition: all 400ms ease;
    opacity: 1;
    position: absolute;
    right: 20px;
	color: #FFF;
	text-shadow: 0;
	font-size: 32px;
}

#custom-modal .close:hover {
	background-color: #3e23ff;
}



/******************** CONTACT ********************/

.contact-view {
	padding: 100px 0;
	text-align: center;
	color: #FFF;
}

.contact-view__text {
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
}

.contact-view__text a {
	color: #FFF;
	text-decoration: underline;
}

.contact-view__text a:hover {
	color: #5c5c5c;
}


.contact-view__all-social {
	display: flex;
	justify-content: center;
}

.contact-view__single-social {
	width: 50px;
	margin: 8px;
}

.contact-view__single-social svg {
	border-radius: 5px;
}

.contact-view__single-social svg .outside{
	fill: #5c5c5c;
	transition: all 400ms ease;
}

.contact-view__single-social:hover svg .outside{
	fill: #FFF;
}

.contact-view__single-social svg .inside{
	fill: #FFF;
	transition: all 400ms ease;
}

.contact-view__single-social:hover svg .inside{
	fill: #5c5c5c;
}

.contact-view__ctas {
	display: flex;
	justify-content: center;
}

.contact-view__cta {
	margin: 8px;
}

.contact-view__cta button {
	background-color: #5c5c5c;
	color: #FFF;
	outline: 0;
	border: 0;
	border-radius: 5px;
	transition: all 400ms ease;
	padding: 6px 12px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
}

.contact-view__cta a {
	background-color: #5c5c5c;
	color: #FFF;
	outline: 0;
	border: 0;
	border-radius: 5px;
	transition: all 400ms ease;
	padding: 6px 12px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
	display: block;
}

.contact-view__cta button:hover {
	background-color: #FFF;
	color: #5c5c5c;
}

.contact-view__cta a:hover {
	background-color: #FFF;
	color: #5c5c5c;
	text-decoration: none;
}

.contact-view .references {
	padding-top: 30px;
}

.contact-view .references a {
	color: #FFF;
	text-decoration: underline;
}

.contact-view .references a:hover {
	color: #5c5c5c;
}


/******************** FOOTER ********************/

footer {
	padding: 20px 0;
}
.footer__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.footer__image {
	width: 60px;
	padding-right: 8px;
}

footer a {
	text-decoration: none;
	color: #5c5c5c;
}




