<div class="about-view gradient">
	<div class="container">
		<div class="about-view__text">
			Hi! My name is Kellee. I'm so excited that you're here on my site! I am so passionate about what I do! If there's one thing I could convey on my portfolio it's that I truly love to code. I live to solve problems and build beautiful things. Web development allows me to touch the lives of people around the world, I just love that! I still have so much to learn, and always will, as I become the best web developer I can be. But if you're looking for someone who will work hard and have a positve attitude you've come to the right place.
		</div>
	</div>
</div>