<div class="about-view gradient">
	<div class="container">
		<img class="header" src="../images/about.png" alt="About Kellee Martins">
		<div class="about-view__text">
			{{about}}
		</div>

		<h4>A few of my favorite tools:</h4>
		<div class="about-view__icons">
			<div class="about-view__icon" ng-repeat="tool in tools" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
				<img ng-src="{{tool.icon}}" alt="{{tool.title}} icon">
				<p ng-show="hoverEdit">{{tool.title}}</p>
				<div class="heart" ng-if="tool.heart">❤</div>
				<div class="learning" ng-if="tool.learning">✍</div>
			</div>
		</div>
	</div>
</div>


<!-- <p ng-show="hoverEdit">{{tool.title}}</p> -->