<div class="about-view gradient">
<!-- <div class="about-view" style="background-color: blue;"> -->
	<div class="container">
		<img class="header" src="../images/about.png" alt="About Kellee Martins">
		<div class="about-view__text">
			{{about}}
		</div>
		

		<h4>My personal statement:</h4>
		<p>“My vision is to be an honest, hard working and positive leader and to be recognized internationally within the development community. I am committed to growing as a developer as I continue voraciously and intentionally learning. My mission is to create a beautiful experience for my users.”</p>

		<h4>A few of my favorite tools:</h4>
		<div class="about-view__icons">
			<div ng-class="{heart: tool.heart, learning: tool.learning}" class="about-view__icon" ng-repeat="tool in tools" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
				<img ng-src="{{tool.icon}}" alt="{{tool.title}} icon">
				<p ng-show="hoverEdit">{{tool.title}}</p>
			</div>
		</div>
		<div class="legend">
			<p><span class="heart">❤</span> = loving</p>
			<p><span class="learning">⚒</span> = learning</p>
		</div>
	</div>
</div>