<div class="contact-view gradient">
	<div class="container">
		<img class="header" src="../images/contact.png" alt="Contact Kellee Martins">
		<div class="contact-view__social" ng-controller="SocialController">
			<div class="contact-view__all-social">
				<a href="{{social.link}}" target="_blank" class="contact-view__single-social" ng-repeat="social in socials">
					<ng-include src="social.icon"></ng-include>
				</a>
			</div>
		</div>
		<div class="contact-view__text">
			Send me an <a href="mailto:kelleemartins@gmail.com">email</a>, I'd love to hear from you! 
		</div>
		<div class="contact-view__ctas">
			<div class="contact-view__cta">
				<button type="button" ng-click="showDetails = ! showDetails">View References</button>
			</div>
			<div class="contact-view__cta">
				<a href="images/Kellee-Martins-Resume.pdf" download="">Download Resume</a>
			</div>
		</div>
		<div class="contact-view__references" ng-class="{ 'hidden': ! showDetails }">
			<div class="references">
				<p>Senior at Zenman: Corinne Winthrop <a href="tel:7069948262">(720) 217-1838</a></p>
				<p>Mentor and Senior at Voltage: Craig Freeman <a href="tel:6195592580">(619) 559-2580</a></p>
				<p>Colleague at Voltage: Vanessa Henson <a href="tel:3032535837">(303) 253-5837</a></p>
			</div>
		</div>
	</div>
</div>


