<div class="projects-view">
	<div class="container">
		<img class="header" src="../images/projects.png" alt="Projects by Kellee Martins">
		<div class="projects-view__wrapper">
			<div class="projects-view__single" ng-repeat="project in projects">
				<div class="projects-view__image"  style="background: url('{{project.heroImage}}') no-repeat center center; background-size: cover;"></div>
				<div class="projects-view__overlay"></div>
				<div class="projects-view__content">{{project.name}}</div>
			</div>
		</div>	
	</div>
</div>