<div class="sidebar-view gradient">
	<h1>Sidebar</h1>
	<div class="long filler">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eleifend velit ligula, laoreet placerat lacus fermentum ac. Sed molestie ligula arcu, ut vehicula neque rhoncus nec. Maecenas in mollis purus. In sit amet maximus ipsum, eu vulputate tellus. Sed tempus interdum pellentesque. Morbi in augue diam. Ut maximus tellus consequat nunc porta ultrices.</p>
	</div>

	<div class="social" ng-controller="SocialController">
	        <div class="single-social" ng-repeat="social in socials">
	            <h1>{{social.name}}</h1>
	        </div>
	    </div>
	</div>
</di>	