<h1>To Do App</h1>

<div class="to-do-view">
	<h2>
		You have <span>{{getTotalTodos()}}</span> To Dos total.
	</h2>

	<div class="single-todo" ng-repeat="todo in todos">
		<input type="checkbox" ng-model="todo.done">
		<span class="done-{{todo.done}}">{{todo.text}}</span>
	</div>

	<form name="addToDo" novalidate>
		<div class="form-group">	

			<input name="todotext" type="text" ng-model="formTodoText" placeholder="Add a New To Do" required>
		
			<p ng-show="addToDo.todotext.$invalid && !addToDo.todotext.$pristine" class="help-block">Enter a valid To Do item.</p>

		</div>	

		<button class="btn" ng-click="addTodo()">Add</button>

	</form>



	<button class="clear-completed" ng-click="clearCompleted">Clear Completed</button>
</div>