<nav class="navbar" role="navigation">

    <div class="hamburger-helper"  ng-click="toggle = !toggle" ng-class="{'is-active' : toggle}">
        <div class="hamburger" id="hamburger-6">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div> 
        <nav>
            <ul>
                <li><a href="#/">Home</a>
                </li>
                <li><a href="#/todo">To-Do App</a>
                </li>
            </ul>
        </nav>
        <div class="social" ng-controller="SocialController">
            <div class="single-social" ng-repeat="social in socials">
                <h1>{{social.name}}</h1>
            </div>
        </div>
    </div>


    
</nav>